@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif;
  
}


#site-hero {
  padding: 0px 20px;
  background-color: #b35346;
}

.site-header {
  margin-bottom: 200px;
}
.nav-list {
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 60px
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  align-items: center;
  transition: all 0.2s ease;
  position: relative;
}

.nav-link::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #d88f0f;
  position: absolute;
  bottom: -6px;
  opacity: 0;
  transition: all 0.2s ease;
  transform: scale(0);
}

.nav-link:hover::before {
  opacity: 1;
  transform: scale(1);
}

.nav-link:first-child {
  position: relative;
}

.abc {
  position: relative;
  padding: 40px 0;
}

.nav-item:nth-child(1):hover .drop1{
  display: block;
}

.drop1 {
  position: absolute;
  left: -200px;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 980px;
  padding: 20px 10px;
  background-color: #fff;
  display: none;
}
.drop1-list,
.drop2-list,
.drop3-list {
  list-style: none;
}

.drop1-item {
  margin-right: 10px;
}

.home-img {
  transition: all 0.5s ease;
}

.home-img:hover {
  transform: scale(1.1);
}

.drop-1-text {
  margin-top: 15px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: #444;
  font-size: 14px;
  line-height: 110%;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: 10px;
}

.drop-1-text::before {
  content: '';
  display: inline-block;
  width: 30%;
  left: 45px;
  height: 3px;
  background-color: #d88f0f;
  position: absolute;
  bottom: -6px;
}

.nav-item:nth-child(2):hover .drop2{
  display: block;
}

.bcd {
  position: relative;
  padding: 60px 0;
}

.drop2 {
  position: absolute;
  left: -330px;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 980px;
  padding: 20px 20px;
  background-color: #fff;
  display: none;
  z-index: 5;
}

.drop2-listing {
  padding: 0px 18px;
}

.drop2-title {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 110%;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 25px;
}
.drop2-title::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 1px;
  background-color: #d88f0f;
  position: absolute;
  bottom: -4px;
}

.drop2-link {
  text-decoration: none;
  color: #222;
  font-size: 17px;
  line-height: 130%;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 20px;
  display: inline-block;
}
.drop2-link:hover {
  color: #d88f0f;
}
.drop2-item:hover {
  color: #d88f0f;
}
.drop2-img {
  padding-left: 20px;
  transition: all 0.8s ease;
}

.drop2-img:hover {
  transform: scale(1.1);
}
.bxs-down-arrow {
  font-size: 10px;
}

.nav-item:nth-child(3):hover .drop3{
  display: block;
}
.asd {
  position: relative;
  padding: 40px 0;
}
.drop3 {
  position: absolute;
  left: -450px;
  right: 0;
  top: 100px;
  margin: 0 auto;
  width: 980px;
  padding: 15px 15px;
  background-color: #fff;
  display: none;
  z-index: 6;
}

.drop3-link {
  text-decoration: none;
}

.menu-img {
  transition: all 0.8s ease;
}
.menu-img:hover {
  transform: scale(1.1);
}

.drop3-title {
  color: #444;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 110%;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bx-search {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}

.bx-user {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}

.bx-shopping-bag {
  color: #fff;
  font-size: 25px;
}

#hero {
  background-color: #b35346;
}

.hero-inner {
  position: relative;
  left: 580px;
  animation-name: text;
  animation-delay: 0.5s;
  animation-duration: 4s;
  animation-fill-mode: both;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 400px;
  }
}


.hero-text {
  color: #fff;
  font-size: 14px;
  margin-bottom: 25px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  margin-left: 85px;
}

.hero-title {
  color: #fff;
  font-size: 72px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  margin-bottom: 25px;
  font-weight: 500;
}


.hero-btn {
  color: #000;
  background-color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.hero-img {
  background-image: url('../imgs/photo_2022-01-20_10-09-15.jpg');
  background-size: cover;
  width: 1500px;
  height: 400px;
  background-position: center bottom;
}

.modalbox {
  padding: 100px 60px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: #fff;
}

.show {
  display: block;
  animation: show 0.3s ease;
}

@keyframes show {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

.box1-title {
  font-size: 18px;
  color: #222;
  font-weight: 400;
  text-transform: lowercase;
}
.bx-x {
  color: #222;
  font-size: 40px;
}
.bx-x:hover {
  color: #d88f0f;
}

.box1 {
  margin-bottom: 50px;
}

.search {
  width: 1350px;
  border: none;
  padding: 0 0 20px;
  font-size: 35px;
  border-bottom: 2px solid #222;
}

.search:focus {
  outline: none;
}

.icon {
  color: #000;
  font-size: 30px;
  position: relative;
  left: 25px;
}

.icon:hover {
  color: #d88f0f;
}

.loginbox {
  display: none;
  background-color: #fff;
  width: 320px;
  position: relative;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: inherit;
  right: 0;
  padding: 20px 20px 50px;
  height: 100%;
  animation: sign 0.3s linear alternate;
 }

 @keyframes sign {
   0% {
     width: 0px;
   }
   100% {
    width: 320px;
  }
 }

.shows {
   display: block;
 }

.hidden {
   display: none;
   animation: signin 0.5s linear alternate;
 }

 @keyframes signin {
  0% {
    width: 320px;
  }
  100% {
   width: 0px;
 }
}

.login-remove {
  background: none;
  border: none;
  background-color: #cccccc98;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

.login-remove::after, 
.login-remove::before {
  content: '';
  position: relative;
  top: -3px;
  display: inline-block;
  width: 19px;
  height: 2px;
  background-color: #666;
  transform: rotate(135deg);
  transition: all 0.3s linear;
}
.login-remove::after {
  background-color: #666;
  top: -21px;
  transform: rotate(40deg);
}

.login-remove:hover::after, 
.login-remove:hover::before {
  transform: rotate(0deg);
}
.login-remove:hover::before {
  transform: rotate(180deg);
}

.login-x {
  border-bottom: 2px solid #222;
}


.login-singin {
  margin-bottom: 20px;
}

.login-sign {
  display: inline-block;
  cursor: pointer;
  width: 50%;
  text-align: center;
  padding: 5px 0;
  font-weight: 600;
  color: #999;
  font-size: 16px;
  text-transform: uppercase;
}
.right {
  color: #222;
  border-right: 1px solid #e6e6e6;
}

.login-form {
  margin-bottom: 10px;
}

.input-email, 
.input-password {
  width: 100%;
  border: 1px solid #ccc;
  height: 50px;
  color: #666;
  padding: 0.6rem 1rem;
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 15px;
}
.input-email:focus, 
.input-password:focus {
  outline: 1px solid #ccc;
}



.signbtn {
  width: 100%;
  background: #222;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 14px;
  height: 50px;
  border: none;
  border-radius: 4px;
  margin-bottom: 15px;
}
.signbtn:hover {
  background-color: #d88f0f;
}


.login-forgot {
  display: block;
  text-decoration: none;
  color: #999;
  padding: 4px 0;
  font-size: 15px;
}
.login-forgot:hover {
  color: #d88f0f;
}


.login-list {
  list-style-type: none;
}

.login-item {
  padding: 15px 0px;
  border-bottom: 1px solid #e6e6e6;
}

.login-item:hover {
  color: #d88f0f;
}

.login-item:hover .login-link, 
.icon-sign {
  color: #d88f0f;
}

.login-item:hover .icon-sign {
  color: #d88f0f;
}
.login-link {
  text-decoration: none;
  color: #222;
}

.icon-sign {
  font-size: 16px;
  color: #222;
  padding-right: 5px;
}

.icon-flag {
max-width: 20px;
padding-right: 3px;
}

.main-span {
  font-size: 12px;
  color: #888;
  text-transform: uppercase;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
}

.main-link {
  text-decoration: none;
  font-size: 60px;
  font-weight: 500;
  color: #222;
  text-transform: capitalize;
  width: 159px;
  margin-bottom: 30px;
}

.main-text {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  margin-bottom: 25px;
}
.main-text::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 2px;
  background-color: #d88f0f;
  bottom: -5px;
}

.main-inner {
  padding: 20px 35px;
  width: 506px;
  background-color: #eee6d1;
}

.a {
  background-color: #f9f9f9;
}

.clock {
  transition: all 1s ease;
}
.clock:hover {
  transform: scale(1.2);
}
.clock-s {
  transition: all 1s ease;
  object-fit: cover;
}
.clock-s:hover {
  transform: scale(1.1);
}

.lam {
  background-color: #d0f1ed;
}

#site-main {
  margin-bottom: 80px;
}


.links-item {
  list-style: none;
  margin-right: 55px;
}

.linking {
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  color: #888;
  position: relative;
}
.linking.activ {
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-size: 20px; 
  color: #222;
  position: relative;
}

.linking.activ::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #d88f0f;
  bottom: -5px;
  display: inline-block;
}

.linking::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #d88f0f;
  bottom: -5px;
  transition: all 0.5s ease;
  display: inline-block;
}

.linking:hover {
  color: #222;
} 
.linking:hover::before {
  width: 100%;
}
.product-links {
  margin-bottom: 60px;
}

#product {
  padding: 0 20px;
  margin-bottom: 80px;
}

.product-list {
  list-style: none;
}
.product-item {
  margin-bottom: 20px;
}
.new {
  position: relative;
  top: 30px;
  left: 15px;
}
.percent {
  font-size: 12px;
  color: #fff;
  background-color: #ff0000;
  padding: 2px 3px;
}


.new-text {
  color: #fff;
  font-size: 12px;
  background-color: #2fb5d2;
  padding: 2px 6px;
}

.img-1 {
  background-image: url(../imgs/stol.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-1 {
  background-image: url(../imgs/stol-hover.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2 {
  background-image: url(../imgs/stol1-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-2 {
  background-image: url(../imgs/stol1.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-3 {
  background-image: url(../imgs/stol-2.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-3{
  background-image: url(../imgs/stol-2h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-4 {
  background-image: url(../imgs/stol3.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-4 {
  background-image: url(../imgs/stol4-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-5 {
  background-image: url(../imgs/stol5.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-5 {
  background-image: url(../imgs/stol5-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-6 {
  background-image: url(../imgs/stol6.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-6 {
  background-image: url(../imgs/stol6-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-7 {
  background-image: url(../imgs/stol7.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-7 {
  background-image: url(../imgs/stol7-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-8 {
  background-image: url(../imgs/stol8.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-8 {
  background-image: url(../imgs/stol8-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-9 {
  background-image: url(../imgs/stol9.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-9 {
  background-image: url(../imgs/stol9-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-10 {
  background-image: url(../imgs/stol10.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}

.product-item:hover .img-10 {
  background-image: url(../imgs/stol10-h.jpg);
  width: 275px;
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
}

.ikon-list {
  position: relative;
  list-style: none;
  width: 100px;
}

.ikon:first-child {
  text-decoration: none;
  padding: 10px;
  background-color: #000;
  position: absolute;
  bottom: 40px;
  left: 60px;
  transition: all 0.2s ease;
  opacity: 0;
  color: #fff;
}

.ikon:hover {
  background-color: #d88f0f;
}

.ikon2 {
  padding: 10px;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 40px;
  left:115px;
  transition: all 0.2s ease-in;
  opacity: 0;
}
.ikon2:hover {
  background-color: #d88f0f;
}

.ikon3 {
  padding: 10px;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 40px;
  left:170px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.ikon3:hover {
  background-color: #d88f0f;
}

.product-item:hover .ikon {
  opacity: 1;
  bottom: 28px;
}

.product-item:hover .ikon2 {
  opacity: 1;
  bottom: 28px;
}
.product-item:hover .ikon3 {
  opacity: 1;
  bottom: 28px;
}

.studio-box {
  width: 275px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.studio {
  text-decoration: none;
  font-size: 13px;
  color: #a3a3a3;
  text-transform: uppercase;
  font-weight: 600;
}
.studio:hover {
  color: #d88f0f;
}

.hummin {
  font-size: 15px;
  text-decoration: none;
  color: #222;
  font-family: sans-serif;
}
.hummin:hover {
  color: #d88f0f;
}
.price-box {
  margin-top: 10px;
}
.price-reg {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  font-family: sans-serif;
}

.price-pro {
  font-size: 16px;
  color: #222;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.view-btn {
  font-size: 16px;
  background-color: #fff;
  text-transform: uppercase;
  margin-top: 40px;
  color: #222;
  font-weight: 500;
  padding: 20px 110px;
  border: 1px solid #999;
  transition: all 0.3s ease;
  cursor: pointer;
}
.view-btn:hover {
  background-color: #d88f0f;
  color: #fff;
}

#blog {
  padding: 0 60px;
  margin-bottom: 80px;
}

.blog-title {
  font-size: 48px;
  color: #222;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 16px;
  color: #666;
  font-family: sans-serif;
  font-weight: 500;
  margin-bottom: 40px;
}

.blog-list {
  list-style: none;
}

.blog-link {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #222;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 24px;
  cursor: pointer;
}
.blog-link:hover {
  color: #d88f0f;
}

.hashtag {
  text-decoration: none;
  color: #222;
  font-size: 12px;
  font-family: sans-serif;
  margin-right: 3px;
  display: inline-block;
  margin-bottom: 15px;
}
.hashtag:hover {
  color: #d88f0f;
}
.date {
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 500;
}

.blog-text {
  width: 447px;
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.read-link {
  text-decoration: none;
  font-size: 16px;
  color: #222;
  font-family: sans-serif;
  text-transform: capitalize;
  position: relative;
}
.read-link:hover {
  color: #d88f0f;
}

.read-link::before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #222;
  position: absolute;
  top: 20px;
}

.blog-inner {
  margin-bottom: 50px;
}

.blog-img-box {
  width: 447px;
  height: 321px;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
}

.blog-img {
  transition: all 0.7s ease;
}

.blog-img-box:hover .blog-img {
  transform: scale(1.07) rotate(3deg);
  transition: all 0.7s ease;
}

.blog-img2 {
  transition: all 0.7s ease;
}
.blog-img2:hover {
  transform: scale(1.1) rotate(3deg);
  transition: all 0.7s ease;
}

.blog-img3 {
  transition: all 0.7s ease;
}
.blog-img3:hover {
  transform: scale(1.1) rotate(3deg);
  transition: all 0.7s ease;
}

.view-link {
  font-size: 16px;
  background-color: #fff;
  text-transform: uppercase;
  color: #222;
  font-weight: 600;
  padding: 15px 70px;
  border: 1px solid #999;
  transition: all 0.3s ease;
  font-family: sans-serif;
  cursor: pointer;
}

.view-link:hover {
  background-color: #222;
  color: #fff;
}

#aside {
  background-color: #f7f7f7;
  padding: 20px 0;
}

.aside-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

.aside-list {
  list-style-type: none;
  width: 3000px;
  height: 120px;
  overflow: hidden;
}

.aside-item {
  width: 200px;
  height: 120px;
  margin: 0 48px;
  animation: aside-anime 15s infinite forwards;
}

@keyframes aside-anime {
  0% {
    transform: translate3d(0px, 0, 0);
  }

  50% {
    transform: translate3d(-1500px, 0, 0);
    animation-delay: 2s;
  }

  100% {
    transform: translate3d(-1500px, 0, 0);
  }

}

#site-footer {
  background-color: #23282e;
  padding-top: 80px;
  padding-bottom: 50px;
}

.footer-logo {
  margin-bottom: 50px;
}

.footer-title {
  background-color: #fff;
  padding: 0px 35px;
  line-height: 55px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.footer-title::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #f2f2f2;
  right: 15px;
  top: 13px;
}

.footer-input {
  width: 400px;
  height: 55px;
  border: none;
}
.footer-input:focus {
  outline: none;
}

::placeholder {
  font-family: sans-serif;
}

.footer-btn {
  background-color: #000;
  padding: 19px 40px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.footer-btn:hover {
  background-color: #d88f0f;
}

.footer-icon {
  margin-top: 50px;
  font-size: 30px;
  color: #fff;
  margin-bottom: 100px;
}
.footer-item:not(:last-child) {
  margin-right: 12px;
}

.footer-list-item {
  list-style: none;
}
.footer-list-item:not(:last-child) {
  margin-right: 30px;
}

.footer-link {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.footer-link:hover {
  color: #d88f0f;
}
.footer-list {
  position: relative;
}
.footer-list::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #393e43;
  position: absolute;
  top: 70px;
}

.footer-end {
  margin-top: 6%;
}
.footer-end-text {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-family: sans-serif;
}

.message-icon {
  position: fixed;
  right: 30px;
  bottom: 45px;
  z-index: 200;
  border-radius: 50%;
}

.messenger-box {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  display: flex;
  flex-direction: column;
  width: 375px;
  padding: 28px 30px;
  position: fixed;
  right: 30px;
  bottom: 115px;
  display: none;
  transition: all 0.3s ease-in;
}

.open {
  display: block;
}

.mes-btns {
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mes-btns:first-child {
  margin-right: 5px;
}

.message-entry {
  margin-bottom: 25px;
}

.message-title {
  font-size: 20px;
  color: #000;
  font-family: sans-serif;
  font-weight: 600;
}

.message-text {
  color: rgba(0, 0, 0, .5);
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  margin-top: 8px;
  font-family: sans-serif;
  margin-bottom: 15px;
}


.message-text2 {
  color: #000;
  font-size: 15px;
  line-height: 20px;
  margin-top: 16px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

.btn1 {
  border: none;
  padding: 15px 45px;
  border-radius: 15px;
  background-color: #0a7cff;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
  cursor: pointer;
}
.bxl-messenger {
  font-size: 22px;
  margin-right: 3px;
}

.btn2 {
  border: none;
  padding: 15px 85px;
  border-radius: 15px;
  background-color: #F2F2F2;
  color: #000;
  font-family: sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.message-text3 {
  font-size: 14px;
  font-family: sans-serif;
  color: #949494;
  text-align: center;
  line-height: 25px;
}

.bold {
  color: #000;
}

.shopping-cart {
  position: fixed;
  top: 100px;
  left: 350px;
  animation-name: cart;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  width: 800px;
  height: 420px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
}

.enter {
  display: block;
}


@keyframes cart {
  0% {
    top: 0;
  }
  100% {
    top: 200px;
  }
}

.check {
  background-color: #333;
  padding: 10px 20px;
}

.bx-check {
  font-size: 30px;
  color: #fff;
}

.cart-heading {
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  flex-grow: 1;
}

.cancel {
  font-size: 22px;
  color: #fff;
}

.cart-info {
  padding: 15px;
}

.cart-img {
  margin-right: 20px;
}

.cart-title {
  margin-top: 15px;
}
.cart-link {
  text-decoration: none;
  font-size: 14px;
  color: #222;
  line-height: 1.25em;
  font-family: sans-serif;
  margin-bottom: 20px;
  display: block;
}

.cart-link:hover {
  color: #d88f0f;
}

.size {
  font-size: 16px;
  color: #222;
  text-transform: capitalize;
  font-family: sans-serif;
}

.coast {
  font-size: 14px;
  color: #666;
  font-family: sans-serif;
}
.colr {
  font-size: 16px;
  color: #222;
  text-transform: capitalize;
  font-family: sans-serif;
}

.dollar {
  margin-top: 15px;
  margin-bottom: 25px;
}

.cart-text {
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.total {
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.cart-btn {
  display: block;
  margin-top: 25px;
  padding: 16px 160px;
  color: #fff;
  background-color: #f11d22;
  border: none;
  font-family: sans-serif;
  margin-bottom: 10px;
}

.cart-btn:hover {
  background-color: #cc1115;
}

.cart-btn2 {
  display: block;
  padding: 16px 166px;
  color: #222;
  background-color: #e7e7e7;
  border: none;
  font-family: sans-serif;
}